.food_header {
    width: 100%;
    height: 600px;
    background-image: url('../img/header.png');
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.site_heading {
    font-family: 'Merienda', cursive;
    font-size: 100px;
    font-weight: bold;
}

.site_subheading {
    font-size: 20px;
    letter-spacing: 6px;
    color: $color-white;
}

@media screen and (max-width: 768px) {
    .site_heading {
        // background-color: red;
        font-size: 5rem;
    }
    .site_subheading {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 500px) {
    .site_heading {
        // background-color: green;
        font-size: 3.1rem;
    }
    .site_subheading {
        font-size: 1rem;
    }
}