.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: auto;
    padding: 20px;
    background-color: rgba($color: $color-white, $alpha: 0.8);
    .nav_logo img {
        width: 40px;
        display: none;
    }
    .hamburger {
        cursor: pointer;
        width: 28px;
        // display: none;
    }
    #click {
        display: none;
    }
    ul {
        list-style: none;
        display: flex;
        li {
            padding: 20px;
        }
        a {
            position: relative;
            display: block;
            text-decoration: none;
            color: #333;
            &.active {
                color: $primary-color;
            }
            &::after {
                position: absolute;
                width: 0%;
                content: "";
                left: 0%;
                bottom: 0%;
                height: 0.1rem;
                background-color: $primary-color;
                transition: width 0.8s ease;
            }
            &:hover {
                color: black;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .nav_logo img {
        display: none
    }
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    $mera-color: #333;
    $color-white: #fff;
    .nav_logo img {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .navbar {
        ul {
            a {
                &.active {
                    padding-top: 150%;
                    color: $mera-color;
                }
            }
        }
    }
    // a::after {
    //     background-color: white;
    // }
    .navigation_pages {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        position: fixed;
        top: 4.2rem;
        left: 0%;
        height: 0%;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 1s ease;
        background-color: #689f38;
    }
    #click:checked~ul {
        height: 100%;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}